[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
xlwt = "*"
requests = "*"
"py2exe" = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.6"
